body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    
}

body.dimming-background {
  background: radial-gradient(circle at center, rgba(0,0,0,0) 20%, rgba(112, 191, 112, 0.8) 100%);
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 25px;
}

form {
    display: inline-block;
    text-align: left;
}

#result {
    margin-top: 20px;
}


/* CSS */
.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #d282db;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: #f1b83c;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.divElement{
    position: absolute;
    top: 50%;
    left: 33%;
    /* margin-top: -50px;
    margin-left: -50px; */
    width: 400px;
    height: 380px;
    overflow-y:auto;
    padding-top: 20px;
}​


.box { 
    border:1px solid black; 
} 


.colored-heading1 {
  color: rgb(109, 21, 150); 
}

.colored-heading2 {
  color:rgb(157, 82, 157); 
}



.tooltip-btn {
  position: relative;
  cursor: pointer;
}

.tooltip-btn::before {
  content: attr(title);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  bottom: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
}


.tooltip-btn:hover::before {
  visibility: visible;
  opacity: 1;
}

